<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <input type="text" 
            class="form-control mr-2" 
            placeholder="Buscar"
            [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoEvento(template)">
      <i class="fa fa-plus-circle  mr-1"></i>
      Novo evento
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-sm btn-outline-primary" (click)="alternarImagem()">
          <i class="fa {{ mostrarImagem ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img src="https://localhost:44393/img/{{ item.imagemUrl }}" 
          *ngIf="mostrarImagem"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem" />
      </td>
      <td>{{ item.id }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>
        <div *ngIf="!item.lotes.length">
          Não informado
        </div>
        <div *ngIf="item.lotes.length">
          {{ item.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarEvento(item, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEvento(item, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos || !eventos.length">
    <tr>
      <td colspan="8" class="text-center">Nenhum evento encontrado</td>
    </tr>
  </tfoot>
</table>

<!-- MODAL ADICIONAR / EDITAR EVENTO -->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('tema').errors &&
                                          registerForm.get('tema').touched}"
                class="form-control" formControlName="tema" placeholder="Insira o Tema">
              <div *ngIf="registerForm.get('tema').hasError('required') && 
                          registerForm.get('tema').touched" class="invalid-feedback">
                Tema é obrigatório.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('minlength') && 
                          registerForm.get('tema').touched" class="invalid-feedback">
                Tema deve ter no mínimo 4 caracteres.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('maxlength') && 
                          registerForm.get('tema').touched" class="invalid-feedback">
                Tema deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('local').errors &&
                                          registerForm.get('local').touched}"
                class="form-control" formControlName="local" placeholder="Insira o Local">
                <div *ngIf="registerForm.get('local').hasError('required') && 
                            registerForm.get('local').touched" class="invalid-feedback">
                  O Local é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors &&
                                          registerForm.get('dataEvento').touched}"
                class="form-control" formControlName="dataEvento" 
                placeholder="Insira a Data e Hora do Evento"
                bsDatepicker
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY hh:mm a'}">
                <div *ngIf="registerForm.get('dataEvento').hasError('required') && 
                            registerForm.get('dataEvento').touched" class="invalid-feedback">
                  Data do evento é obrigatória.
                </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="number"
                [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors &&
                                          registerForm.get('qtdPessoas').touched}"
                class="form-control is-invalid" formControlName="qtdPessoas" placeholder="Insira a qtd de pessoas">
              <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && 
                          registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                A Qtd de Pessoas é obrigatória.
              </div>
              <div *ngIf="registerForm.get('qtdPessoas').hasError('max') && 
                          registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                A Qtd de Pessoas não pode ser maior que 120000.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('imagemUrl').errors &&
                                          registerForm.get('imagemUrl').touched}"
                class="form-control" formControlName="imagemUrl" placeholder="Insira a imagem do evento">
              <div *ngIf="registerForm.get('imagemUrl').hasError('required') && 
                          registerForm.get('imagemUrl').touched" class="invalid-feedback">
                A Imagem é obrigatória.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Telefone</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('telefone').errors &&
                                          registerForm.get('telefone').touched}"
                class="form-control" formControlName="telefone" placeholder="Insira o Telefone para contato">
              <div *ngIf="registerForm.get('telefone').hasError('required') && 
                          registerForm.get('telefone').touched" class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('email').errors &&
                                          registerForm.get('email').touched}"
                class="form-control" formControlName="email" placeholder="Insira o Email para contato">
              <div *ngIf="registerForm.get('email').hasError('required') && 
                          registerForm.get('email').touched" class="invalid-feedback">
                Email é obrigatório.
              </div>
              <div *ngIf="registerForm.get('email').hasError('email') && 
                          registerForm.get('email').touched" class="invalid-feedback">
                O Email deve ter o formato "example@example.com".
              </div>
            </div>
          </div> 
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary ml-auto" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary" (click)="salvarAlteracao(template)" [disabled]="!registerForm.valid">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DELETAR EVENTO -->
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-primary" (click)="confirm.hide()">
        			Cancelar
      			</button>
      			<button type="button" class="btn btn-danger" (click)="confirmeDelete(confirm)">
          		Deletar
        		</button>
    		</div>
  		</div>
	</div>
</div>